@media (max-width: 1199px) {
    .container {
        width: 100%;
    }
}
.btn-default {
    color: #fff;
    font-weight: 400;
    background-image: none;
    background-color: #08c;
    text-shadow: none;
    border: 0;
    opacity: 1;
    filter: alpha(opacity=100));
}
.homepage-bar {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fbfbfb;
}
.homepage-bar .col-md-4 {
    border-left: 1px solid #e1e1e1;
    padding-top: 20px;
    padding-bottom: 21px;
}
.homepage-bar .col-md-4:first-child {
    border-left: 0;
}
.homepage-bar [class*=" porto-icon-"], .homepage-bar [class^="porto-icon-"] {
    font-size: 34px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
}
.homepage-bar .text-area {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 5px;
}
.homepage-bar h3 {
    color: #313131;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    line-height: 1.5;
}
.homepage-bar p {
    font-size: 12px;
    margin: 0;
    line-height: 1;
}
.image-link {
    display: block;
    position: relative;
}
.image-link:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}
.image-link:hover:before {
    opacity: 0.1;
    visibility: visible;
}
.image-link img {
    width: 100%;
}
.border-radius .image-link:before {
    border-radius: 8px;
}

.custom-support {
    text-align: left;
}
.custom-support em[class*=icon-] {
    float: left;
    background-color: #e35d53;
    color: #fff;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    font-size: 20px;
}
.custom-support div.content {
    margin-left: 76px;
}
.custom-support div.content>h2 {
    color: #000;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
}
.custom-support div.content>em {
    color: #888;
    font-weight: 300;
    font-size: 11px;
    font-style: normal;
    line-height: 1;
    margin-bottom: 15px;
    display: block;
}
.custom-support div.content>p {
    color: #666;
    font-size: 14px;
}

.parallax-wrapper {
    position: relative;
}
.parallax-wrapper .overlay {
    background-color: #000;
    opacity: 0.55;
    filter: alpha(opacity=55);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
.parallax {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding: 50px 0;
}
.parallax-slider {
    text-align: center;
}
.parallax-slider .owl-carousel h2 {
    font-size: 60.28px;
    color: #fff;
    line-height: 1;
}
.parallax-slider .owl-carousel p {
    font-size: 22.6px;
    color: #fff;
    line-height: 1;
    margin-bottom: 30px;
}
.parallax-slider .owl-carousel a {
    font-size: 16px;
    color: #fff;
    line-height: 1;
}
.brands-slider .owl-carousel .owl-item img {
    width: auto;
    max-width: 100%;
}

/*************** Custom Recent Posts ******************/
.recent-posts .item .post-image {
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0 15px 0;
    padding: 2px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
}
.recent-posts .item .post-image img {
    border-radius: 4px;
    width: 100%;
}
.recent-posts .post-date {
    float: left;
    margin-right: 10px;
    text-align: center;
}
.recent-posts .post-date .day {
    background-color: #f7f7f7;
    color: #08c;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
}
.recent-posts .post-date .month {
    background-color: #08c;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 -1px 0 0 rgba(0,0,0,.07) inset;
    color: #fff;
    font-size: 0.9em;
    padding: 2px 0;
    display: block;
    width: 45px;
}
.recent-posts .postTitle {
    min-height: 55px;
    border: 0;
}
.recent-posts .postTitle h2 {
    font-size: 20px;
    line-height: 27px;
    font-weight: normal;
    padding: 0;
    margin: 0 0 10px 0;
}
.recent-posts .postTitle a:hover {
    text-decoration: none;
}
.recent-posts .postContent {
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 15px;
}
.recent-posts .postContent > p {
    margin: 0;
}
.recent-posts a.readmore {
    font-weight: 300;
    font-size: 16px;
}
@media (max-width: 991px) {
    .homepage-bar .col-md-4 {
        border: 0;
        text-align: left;
    }
    .parallax {
        background-position: center center !important;
        background-attachment: initial;
    }
}
@media (max-width: 767px) {
    .parallax-slider .owl-carousel h2 {
        font-size: 40px;
    }
    .parallax-slider .owl-carousel p {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .parallax-slider .owl-carousel a {
        font-size: 13px;
    }
}
/*=============== Demo 1 Homepage Slider ===============*/
.owl-banner-carousel .content.type1 h2{font-size:60px}
.owl-banner-carousel .content.type1 p{font-size:25px}
.owl-banner-carousel .content.type1 a{font-size:16px}

@media (max-width:1199px){
    .owl-banner-carousel .content.type1 h2{font-size:48px}
    .owl-banner-carousel .content.type1 p{font-size:20px}
    .owl-banner-carousel .content.type1 a{font-size:13px}
}
@media (max-width:991px){
    .owl-banner-carousel .content.type1 h2{font-size:36px}
    .owl-banner-carousel .content.type1 p{font-size:15px}
    .owl-banner-carousel .content.type1 a{font-size:10px}
}
@media (max-width:767px){
    .owl-banner-carousel .content.type1 h2{font-size:24px}
    .owl-banner-carousel .content.type1 p{display:none}
    .owl-banner-carousel .content.type1 a{font-size:8px}
}
/*=============== Demo 3 Homepage Slider ===============*/
#banner-slider-demo-3 .slide1-content em{font-size:26.26px;margin:0 10px}
#banner-slider-demo-3 .slide1-content h2{font-size:79.12px;margin:5px 0 10px}
#banner-slider-demo-3 .slide1-content p{font-size:23.64px}
#banner-slider-demo-3 .slide2-content em{font-size:26.26px;margin-left:8px}
#banner-slider-demo-3 .slide2-content h2{font-size:82.51px;margin:3px 0 10px}
#banner-slider-demo-3 .slide2-content p{font-size:18px;margin-left:8px;margin-bottom:30px}
#banner-slider-demo-3 .slide2-content p span.split{margin:0 13px 0 14px;border: 0;}
#banner-slider-demo-3 .slide2-content a.btn-default{font-size:14px;width:135px;height:40px;line-height:40px;padding:0;margin-right:3px}
#banner-slider-demo-3 .slide3-content em{font-size:26.26px}
#banner-slider-demo-3 .slide3-content h2{font-size:82.51px;margin-bottom:17px;}
#banner-slider-demo-3 .slide3-content a.btn-default{font-size:14px;width:135px;height:40px;line-height:40px;padding:0;margin-right:3px}
@media (max-width:991px){
    #banner-slider-demo-3 .slide1-content img.quote{width:30px}
    #banner-slider-demo-3 .slide1-content em{font-size:20px;margin:0 8px}
    #banner-slider-demo-3 .slide1-content h2{font-size:60px;margin:4px 0 8px}
    #banner-slider-demo-3 .slide1-content p{font-size:18px}
    #banner-slider-demo-3 .slide2-content em{font-size:20px;margin-left:7px}
    #banner-slider-demo-3 .slide2-content h2{font-size:65px;margin:2px 0 8px}
    #banner-slider-demo-3 .slide2-content p{font-size:15px;margin-left:7px;margin-bottom:25px}
    #banner-slider-demo-3 .slide2-content p span.split{margin:0 8px 0 9px}
    #banner-slider-demo-3 .slide2-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}
    #banner-slider-demo-3 .slide3-content em{font-size:20px}
    #banner-slider-demo-3 .slide3-content h2{font-size:65px;margin-bottom:13px}
    #banner-slider-demo-3 .slide3-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}
}
@media (max-width:640px){
    #banner-slider-demo-3 .slide1-content img.quote{width:15px}
    #banner-slider-demo-3 .slide1-content em{font-size:14px;margin:0 3px}
    #banner-slider-demo-3 .slide1-content h2{font-size:38px;margin:1px 0 5px}
    #banner-slider-demo-3 .slide1-content p{font-size:14px}
    #banner-slider-demo-3 .slide2-content em{font-size:14px;margin-left:3px}
    #banner-slider-demo-3 .slide2-content h2{font-size:39px;margin:0 0 5px}
    #banner-slider-demo-3 .slide2-content p{font-size:8px;margin-left:4px;margin-bottom:15px}
    #banner-slider-demo-3 .slide2-content p span.split{margin:0 7px 0 8px}
    #banner-slider-demo-3 .slide2-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-right:1px}
    #banner-slider-demo-3 .slide3-content em{font-size:14px}
    #banner-slider-demo-3 .slide3-content h2{font-size:38px;margin-bottom:8px}
    #banner-slider-demo-3 .slide3-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-right:1px}
}
/*=============== Demo 4 Homepage Slider ===============*/
#banner-slider-demo-4 .slide1-content em{font-size:26.26px;margin:0 10px}
#banner-slider-demo-4 .slide1-content h2{font-size:79.12px;margin:5px 0 10px}
#banner-slider-demo-4 .slide1-content p{font-size:23.64px}
#banner-slider-demo-4 .slide2-content em{font-size:26.26px;margin-left:8px}
#banner-slider-demo-4 .slide2-content h2{font-size:82.51px;margin:3px 0 10px}
#banner-slider-demo-4 .slide2-content p{font-size:18px;margin-left:8px;margin-bottom:30px}
#banner-slider-demo-4 .slide2-content p span.split{margin:0 13px 0 14px;border: 0;}
#banner-slider-demo-4 .slide2-content a.btn-default{font-size:14px;width:135px;height:40px;line-height:40px;padding:0;margin-right:3px}
#banner-slider-demo-4 .slide3-content em{font-size:26.26px}
#banner-slider-demo-4 .slide3-content h2{font-size:82.51px;margin-bottom:17px;}
#banner-slider-demo-4 .slide3-content a.btn-default{font-size:14px;width:135px;height:40px;line-height:40px;padding:0;margin-right:3px}
@media (max-width:991px){
    #banner-slider-demo-4 .slide1-content img.quote{width:30px}
    #banner-slider-demo-4 .slide1-content em{font-size:20px;margin:0 8px}
    #banner-slider-demo-4 .slide1-content h2{font-size:60px;margin:4px 0 8px}
    #banner-slider-demo-4 .slide1-content p{font-size:18px}
    #banner-slider-demo-4 .slide2-content em{font-size:20px;margin-left:7px}
    #banner-slider-demo-4 .slide2-content h2{font-size:65px;margin:2px 0 8px}
    #banner-slider-demo-4 .slide2-content p{font-size:15px;margin-left:7px;margin-bottom:25px}
    #banner-slider-demo-4 .slide2-content p span.split{margin:0 8px 0 9px}
    #banner-slider-demo-4 .slide2-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}
    #banner-slider-demo-4 .slide3-content em{font-size:20px}
    #banner-slider-demo-4 .slide3-content h2{font-size:65px;margin-bottom:13px}
    #banner-slider-demo-4 .slide3-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}
}
@media (max-width:640px){
    #banner-slider-demo-4 .slide1-content img.quote{width:15px}
    #banner-slider-demo-4 .slide1-content em{font-size:14px;margin:0 3px}
    #banner-slider-demo-4 .slide1-content h2{font-size:38px;margin:1px 0 5px}
    #banner-slider-demo-4 .slide1-content p{font-size:14px}
    #banner-slider-demo-4 .slide2-content em{font-size:14px;margin-left:3px}
    #banner-slider-demo-4 .slide2-content h2{font-size:39px;margin:0 0 5px}
    #banner-slider-demo-4 .slide2-content p{font-size:8px;margin-left:4px;margin-bottom:15px}
    #banner-slider-demo-4 .slide2-content p span.split{margin:0 7px 0 8px}
    #banner-slider-demo-4 .slide2-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-right:1px}
    #banner-slider-demo-4 .slide3-content em{font-size:14px}
    #banner-slider-demo-4 .slide3-content h2{font-size:38px;margin-bottom:8px}
    #banner-slider-demo-4 .slide3-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-right:1px}
}
.slider-with-side {
    margin: 0 -8px;
}
.slider-with-side .slider-area {
    padding: 0 8px;
    float: left;
    width: 72.3%;
}
.slider-with-side .slider-area .item .content .ribbon {
    right: 13px;
    top: 16px;
}
.slider-with-side .slider-area .item .content .ribbon em {
    font-size: 14px;
    margin: 0;
    margin-right: 63px;
}
.slider-with-side .slider-area .item .content .ribbon h3 {
    font-size: 33px;
    margin: 0;
    margin-right: 14px;
}
.slider-with-side .slider-area .item .content .ribbon h5 {
    font-size: 18px;
    margin: 0;
    margin-top: -3px;
}
.slider-with-side .slider-area .item .content .text-area h2 {
    display: inline-block;
    padding: 7px 50px 7px 11px;
    font-size: 42.7px;
    margin-bottom: 4px;
}
.slider-with-side .slider-area .item .content .text-area p {
    display: inline-block;
    padding: 12px 17px 12px 13px;
    font-size: 17.58px;
    margin: 0;
}
@media (max-width: 1199px) {
    .slider-with-side .slider-area .item .content .ribbon {
        right: 11px;
        top: 11px;
    }
    .slider-with-side .slider-area .item .content .ribbon em {
        font-size: 13px;
        margin-right: 60px;
    }
    .slider-with-side .slider-area .item .content .ribbon h3 {
        font-size: 30px;
        margin-right: 12px;
    }
    .slider-with-side .slider-area .item .content .ribbon h5 {
        font-size: 16px;
        margin-top: -2px;
    }
    .slider-with-side .slider-area .item .content .text-area h2 {
        padding: 6px 45px 6px 10px;
        font-size: 38px;
    }
    .slider-with-side .slider-area .item .content .text-area p {
        padding: 10px 15px 10px 11px;
        font-size: 15px;
    }
}
@media (max-width: 767px) {
    .slider-with-side .slider-area .item .content .ribbon {
        right: 3px;
        top: 3px;
    }
    .slider-with-side .slider-area .item .content .ribbon em {
        font-size: 8px;
        margin-right: 40px;
    }
    .slider-with-side .slider-area .item .content .ribbon h3 {
        font-size: 22px;
        margin-right: 7px;
    }
    .slider-with-side .slider-area .item .content .ribbon h5 {
        font-size: 10px;
        margin-top: -1px;
    }
    .slider-with-side .slider-area .item .content .text-area h2 {
        padding: 4px 38px 4px 7px;
        font-size: 22px;
    }
    .slider-with-side .slider-area .item .content .text-area p {
        padding: 6px 11px 6px 8px;
        font-size: 9px;
    }
}
@media (max-width: 480px) {
    .slider-with-side .slider-area .item .content .ribbon {
        right: 3px;
        top: 1px;
    }
    .slider-with-side .slider-area .item .content .ribbon em {
        font-size: 6px;
        margin-right: 22px;
    }
    .slider-with-side .slider-area .item .content .ribbon h3 {
        font-size: 14px;
        margin-right: 2px;
    }
    .slider-with-side .slider-area .item .content .ribbon h5 {
        font-size: 6px;
        margin-top: -1px;
    }
    .slider-with-side .slider-area .item .content .text-area p {
        display: none;
    }
}
.slider-with-side .side-area {
    padding: 0 8px 0 7px;
    float: left;
    width: 27.7%;
}
.slider-with-side .side-area .item1, .slider-with-side .side-area .item2, .slider-with-side .side-area .item3 {
    margin-bottom: 9px;
    position: relative;
    overflow: hidden;
}
.slider-with-side .side-area .item1:before, .slider-with-side .side-area .item2:before, .slider-with-side .side-area .item3:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    filter: alpha(Opacity=0);
    visibility: hidden;
    transition: all 0.2s;
}
.slider-with-side .side-area .item1:hover:before, .slider-with-side .side-area .item2:hover:before, .slider-with-side .side-area .item3:hover:before {
    opacity: 0.1;
    filter: alpha(Opacity=10);
    visibility: visible;
}
.slider-with-side .side-area .item1 .content {
    position: absolute;
    bottom: 17px;
    left: 15px;
    text-align: left;
}
.slider-with-side .side-area .item1 .content em {
    font-size: 27.45px;
    margin: 0;
    margin-bottom: 2px;
    display: block;
    margin-left: 4px;
}
.slider-with-side .side-area .item1 .content h2 {
    font-size: 35.16px;
    margin: 0;
    margin-bottom: 14px;
}
.slider-with-side .side-area .item1 .content a {
    font-size: 15.08px;
    margin: 0;
    margin-left: 4px;
    display: block;
}
.slider-with-side .side-area .item2 .content {
    position: absolute;
    bottom: 17px;
    left: 21px;
    text-align: left;
}
.slider-with-side .side-area .item2 .content h2 {
    font-size: 33.86px;
    margin: 0;
    margin-bottom: 12px;
}
.slider-with-side .side-area .item2 .content p {
    font-size: 18.34px;
    margin: 0;
    margin-left: 1px;
}
.slider-with-side .side-area .item2 .content a {
    font-size: 13px;
    border: 0;
    text-shadow: none;
    padding: 8px 10px 8px 15px;
    margin: 13px 0 0 25px;
}
.slider-with-side .side-area .item3 {
    margin: 0 !important;
}
.slider-with-side .side-area .item3 .content {
    position: absolute;
    bottom: 17px;
    left: 19px;
    text-align: left;
}
.slider-with-side .side-area .item3 .content h2 {
    font-size: 32px;
    margin: 0;
}
.slider-with-side .side-area .item3 .content p {
    font-size: 20px;
    margin: 0;
    margin-bottom: 17px;
}
.slider-with-side .side-area .item3 .content a {
    font-size: 16px;
    margin: 0;
}
@media (max-width: 1199px) {
    .slider-with-side .side-area .item1 .content {
        bottom: 15px;
        left: 13px;
    }
    .slider-with-side .side-area .item1 .content em {
        font-size: 22px;
        margin-left: 2px;
    }
    .slider-with-side .side-area .item1 .content h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .slider-with-side .side-area .item1 .content a {
        font-size: 13px;
        margin-left: 2px;
    }
    .slider-with-side .side-area .item2 {
        margin-bottom: 8px;
    }
    .slider-with-side .side-area .item2 .content {
        bottom: 15px;
        left: 15px;
    }
    .slider-with-side .side-area .item2 .content h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .slider-with-side .side-area .item2 .content p {
        font-size: 13px;
    }
    .slider-with-side .side-area .item2 .content a {
        font-size: 12px;
        padding: 7px 8px 7px 13px;
        margin: 5px 0 0 25px;
    }
    .slider-with-side .side-area .item3 .content {
        bottom: 15px;
        left: 15px;
    }
    .slider-with-side .side-area .item3 .content h2 {
        font-size: 28px;
    }
    .slider-with-side .side-area .item3 .content p {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .slider-with-side .side-area .item3 .content a {
        font-size: 14px;
    }
}
@media (max-width: 991px) {
    .slider-with-side .slider-area {
        padding: 0 8px;
        float: none;
        width: 100%;
    }
    .slider-with-side .side-area {
        padding: 0;
        float: none;
        width: 100%;
    }
    .slider-with-side .side-area .item1, .slider-with-side .side-area .item2, .slider-with-side .side-area .item3 {
        padding: 8px;
        width: 33.33%;
        float: left;
        margin: 0;
    }
    .slider-with-side .side-area .item1 .content {
        bottom: 20px;
        left: 20px;
    }
    .slider-with-side .side-area .item2 .content {
        bottom: 20px;
        left: 15px;
    }
    .slider-with-side .side-area .item3 .content {
        bottom: 20px;
        left: 20px;
    }
}
@media (max-width: 767px) {
    .slider-with-side .side-area .item1, .slider-with-side .side-area .item2, .slider-with-side .side-area .item3 {
        padding: 8px;
        width: 100%;
        float: none;
    }
    .slider-with-side .side-area img {
        width: 100%;
    }
    .slider-with-side .side-area .item1 .content {
        bottom: 30px;
        left: 25px;
    }
    .slider-with-side .side-area .item2 .content {
        bottom: 30px;
        left: 25px;
    }
    .slider-with-side .side-area .item3 .content {
        bottom: 30px;
        left: 25px;
    }
}
.banner-content-6 {
    padding: 290px 0 80px;
    line-height: 1;
}
.banner-content-6 em {
    font-size: 26.26px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.banner-content-6 .text-content h2 {
    font-size: 79.12px;
    letter-spacing: -4px;
}
.banner-content-6 .text-content p {
    margin: 0;
}
.banner-content-6 .text-content p span {
    font-size: 23.64px;
    padding-left: 5px;
    line-height: 2;
}
.banner-content-6 .text-content p a {
    font-size: 16px;
    padding: 10px 35px;
    margin-left: 5px;
    margin-top: 7px;
    margin-bottom: 125px;
}
.filter-title-type-2 {
    font-size: 19px;
    margin: 0;
    font-weight: 300;
    margin-bottom: 20px;
    display: table;
    width: 100%;
}
.filter-title-type-2 span {
    display: table-cell;
    position: relative;
}
.filter-title-type-2 span.title-line:after {
    content: "";
    width: 100%;
    border-top: 1px solid #d8d8d8;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
}
.one-product .filterproduct-title {
    background: #fff;
    text-align: center;
    color: #333;
    font-weight: 700;
}
.one-product .products-grid {
    margin: 0;
    background-color: #fff;
    padding-bottom: 20px;
}
.one-product .product-item-info .product-item-details {
    padding-top: 20px;
}
.one-product .owl-dots {
    margin-top: 0;
}
.shop-features {
    text-align: center;
}
.shop-features [class*=" porto-icon-"], .shop-features [class^="porto-icon-"] {
    color: #333;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 60px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 50%;
    font-size: 28px;
}
.shop-features h3 {
    color: #121214;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    margin: 20px 0 10px;
}
.shop-features p {
    color: #777;
    font-size: 14px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0 20px;
}
.shop-features a {
    margin: 0;
    font-size: 14px;
}
.hide-addtocart .products-grid .product-item-actions .actions-primary, .hide-addtocart .products-grid .product-item-details .product-item-actions .actions-primary {
    display: none;
}
.hide-addtolinks .products-grid .product-item-info .product-item-details .product-item-actions .actions-secondary.towishlist, 
.hide-addtolinks .products-grid .product-item-info .product-item-details .product-item-actions .actions-secondary.tocompare,
.hide-addtolinks .products-grid .product-item-info .product-item-actions .actions-secondary.towishlist, 
.hide-addtolinks .products-grid .product-item-info .product-item-actions .actions-secondary.tocompare {
    display: none;
}
.owl-middle-outer-narrow .owl-theme .owl-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -22px;
}
.owl-middle-outer-narrow .owl-theme .owl-controls .owl-nav [class*=owl-] {
    position: absolute;
    color: #3d3734;
}
.owl-middle-outer-narrow .owl-theme .owl-controls .owl-nav .owl-prev {
    left: -60px;
}
.owl-middle-outer-narrow .owl-theme .owl-controls .owl-nav .owl-next {
    right: -60px;
}
.owl-bottom-narrow .owl-controls {
    position: absolute;
    bottom: 20px;
    margin: 0;
    width: 100%;
}
.filterproducts-tab .data.items {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
    margin-left: -15px;
    margin-right: -15px;
}
.filterproducts-tab .data.items > .item.title {
    box-sizing: border-box;
    float: none;
    width: 100%;
}
.filterproducts-tab .data.items > .item.title[aria-expanded=true] a.switch {
    color: #08c;
}
.filterproduct-title > a {
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
}
.sidebar .custom-block {
    margin-bottom: 30px;
    padding-bottom: 40px;
    background: url(../images/bkg_4.png) bottom no-repeat;
}
@media (min-width: 768px){
    .filterproducts-tab .data.items {
        position: relative;
        z-index: 1;
        border-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        background: url(../images/slider-bar.png) right 10px no-repeat;
    }
    .filterproducts-tab .data.items:before, .filterproducts-tab .data.items:after {
        content: '';
        display: table;
    }
    .filterproducts-tab .data.items:after {
        clear: both;
    }
    .filterproducts-tab .data.items > .item.title {
        float: left;
        width: auto;
        margin: 0;
        padding: 0;
        background-color: #fff;
    }
    .filterproducts-tab .data.items > .item.title a.switch {
        color: #313131;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 15px;
        border-left: 1px solid #ddd;
    }
    .filterproducts-tab .data.items > .item.title:first-child a.switch {
        padding-left: 0;
        border: 0;
    }
    .filterproducts-tab .data.items > .item.content {
        margin-top: 30px;
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        width: 100%;
    }
}
@media (max-width: 768px){
    .filterproducts-tab .data.items > .item.title {
        padding: 10px;
        border-top: 1px solid #eee;
    }
    .filterproducts-tab .data.items > .item.title a.switch {
        color: #313131;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.grid-images {
    text-align: center;
}
.grid-images .row {
    margin-left: -10px;
    margin-right: -10px;
}
.grid-images .col-sm-4, .grid-images .col-sm-8 {
    padding-left: 10px;
    padding-right: 10px;
}
.grid-images img {
    max-width: 100%;
}
.grid-images .grid1 img, .grid-images .grid2 img, .grid-images .grid3 img {
    opacity: 1;
    filter: alpha(Opacity=100);
    visibility: visible;
    transition: all 0.2s;
}
.grid-images .grid1:hover img, .grid-images .grid2:hover img, .grid-images .grid3:hover img {
    opacity: 0.8;
    filter: alpha(Opacity=80);
    visibility: visible;
}
.grid-images .grid1 {
    margin-bottom: 10px;
}
@media (max-width: 1199px) {
    .grid-images .grid1 {
        margin-bottom: 9px;
    }
}
@media (max-width: 767px) {
    .grid-images .grid2 {
        margin-bottom: 9px;
    }
}
@media (min-width: 992px){
    .md-f-right {
        float: right !important;
    }
}
@media (min-width: 768px){
    .sm-f-right {
        float: right !important;
    }
}
.side-custom-menu {
    border: 1px solid #ddd;
    border-radius: 7px;
    overflow: hidden;
}
.side-custom-menu h2 {
    color: #000;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    padding: 13px 13px 12px;
    background-color: #f5f5f5;
    line-height: 1;
    margin: 0;
}
.side-custom-menu ul {
    padding: 0 12px;
    margin: 0;
    list-style: none;
}
.side-custom-menu ul li {
    text-align: left;
    padding: 13px 4px 12px;
    border-top: 1px solid #ddd;
    margin: 0;
    line-height: 1;
}
.side-custom-menu ul li:first-child {
    border: 0;
}
.side-custom-menu ul li a {
    color: #777;
    font-size: 15px;
    line-height: 1;
    display: block;
}
.sidebar-title {
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #313131;
    line-height: 1;
}
.f-left {
    float: left !important;
}
.f-right {
    float: right !important;
}
.abs-action-button-as-link:hover, .abs-action-remove:hover, .abs-discount-block .action.check:hover, .popup .actions-toolbar .action.cancel:hover, .paypal-button-widget .paypal-button:hover, .bundle-options-container .action.back:hover, .block.related .action.select:hover, .cart.table-wrapper .actions-toolbar > .action-delete:hover, .cart.table-wrapper .action.help.map:hover, .checkout-index-index .modal-popup .modal-footer .action-hide-popup:hover, .opc-wrapper .edit-address-link:hover, .opc-block-shipping-information .shipping-information-title .action-edit:hover, .action-auth-toggle:hover, .checkout-payment-method .payment-method-billing-address .action-cancel:hover, .checkout-payment-method .payment-method-billing-address .billing-address-details .action-edit-address:hover, .checkout-agreements-block .action-show:hover, .gift-options .actions-toolbar .action-cancel:hover, .gift-summary .action-edit:hover, .gift-summary .action-delete:hover, .gift-wrapping-title .action-remove:hover, .wishlist.split.button > .action:hover, .abs-add-fields .action.remove:hover, .paypal-review-discount .action.check:hover, .cart-discount .action.check:hover, .form-giftregistry-share .action.remove:hover, .form-giftregistry-edit .action.remove:hover, .form-add-invitations .action.remove:hover, .form-create-return .action.remove:hover, .form.send.friend .action.remove:hover {
    text-decoration: none;
}
body.boxed {
    padding: 24px 0 17px;
    background: url(../images/boxed_bg.png) repeat;
}
body.boxed .page-wrapper {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}
.fotorama__fullscreen-icon {
    display: block;
}
.fotorama .fotorama-sprite, .fotorama__fullscreen .fotorama .fotorama__zoom-out, .fotorama__fullscreen .fotorama .fotorama__zoom-in, .fotorama .fotorama__arr .fotorama__arr__arr, .fotorama .fotorama__fullscreen-icon, .fotorama .fotorama__thumb__arr {
    background: none;
    color: #08c;
}
.fotorama-sprite:before, .fotorama__fullscreen .fotorama__zoom-out:before, .fotorama__fullscreen .fotorama__zoom-in:before, .fotorama__arr .fotorama__arr__arr:before, .fotorama__fullscreen-icon:before, .fotorama__thumb__arr:before {
    font-family: 'porto-icons';
    display: block;
    text-align: center;
}
.fotorama .fotorama__arr .fotorama__arr__arr {
    height: auto;
}
.fotorama__arr--next .fotorama__arr__arr:before {
    content: "\f809";
    font-size: 35px;
    line-height: 1;
}

.fotorama__arr--prev .fotorama__arr__arr:before {
    content: "\f80a";
    font-size: 35px;
    line-height: 1;
}
.fotorama__thumb__arr--left .fotorama__thumb__arr:before {
    content: "\f80a";
    font-size: 30px;
    line-height: 1;
}

.fotorama__thumb__arr--right .fotorama__thumb__arr:before {
    content: "\f809";
    font-size: 30px;
    line-height: 1;
}
.fotorama__zoom-in:before {
    content: "\f85a";
    font-size: 20px;
    line-height: 50px;
}
.fotorama__zoom-out:before {
    content: "\f85b";
    font-size: 20px;
    line-height: 50px;
}
.fotorama__fullscreen-icon:before {
    content: "\f859";
    font-size: 20px;
    line-height: 50px;
}
.fotorama__stage {
    border: 1px solid #ddd;
    border-radius: 7px;
    background: #fff;
    max-width: 100%;
    overflow: hidden;
}
.fotorama__nav--thumbs .fotorama__thumb {
    border: 1px solid #ccc !important;
    border-radius: 5px;
    background-color: #fff;
}
.fotorama__nav .fotorama__thumb__arr {
    padding-bottom: 0;
}
.fotorama__nav .fotorama__thumb-border {
    border-radius: 5px;
}
.fotorama__nav-wrap .fotorama_vertical_ratio .fotorama__img {
    border: 3px solid #fff !important;
}
.fotorama__stage__shaft {
    border: 3px solid #fff;
    box-sizing: border-box;
    max-width: 100%;
}
.message {
    border-radius: 5px;
}
@media (max-width: 1199px) {
    body.boxed .page-wrapper {
        width: 980px;
    }
}
@media (max-width: 991px) {
    body.boxed .page-wrapper {
        width: 750px;
    }
}
@media (max-width: 767px) {
    body.boxed .page-wrapper {
        width: 630px;
    }
    .sm-clearer {
        clear: both;
    }
}
@media (max-width: 640px) {
    body.boxed .page-wrapper {
        width: 460px;
    }
}
@media (max-width: 480px) {
    body.boxed .page-wrapper {
        width: 300px;
    }
}

.block.block-border {
    border-radius: 7px;
    overflow: hidden;
}
.block.block-border .block-title {
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #777;
    position: relative;
    border-radius: 7px 7px 0 0;
    margin: 0;
}
.block.block-border .block-content {
    padding: 10px 15px;
    font-size: 13px;
    border: 1px solid #ddd;
    border-top: 0;
    border-radius: 0 0 7px 7px;
    background-color: #fbfbfb;
}
.category-sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.42857143;
}
.category-sidebar li {
    position: relative;
    margin: 0;
}
.category-sidebar ul {
    display: none;
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0;
}
.category-sidebar li > .expand-icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    line-height: 32px;
}
.category-sidebar li > a:not(.expand-icon) {
    color: #777;
    font-size: 13px;
    line-height: 2.5;
}


